@import "./variables.module.scss";
@import "./breakpoints.scss";

.main {
  width: 100%;
  height: 100vh;
  font-family: $teamdao-font;
  scroll-behavior: smooth;
  // overscroll-behavior: contain;
  overflow: scroll;
  overflow-x: hidden;
  // scroll-snap-points-y: repeat(100vh);
  // scroll-snap-type: y proximity;

  @include media("<=tablet") {
    height: calc(100vh + 20px);
  }


  /* ===== Scrollbar CSS ===== */
  /* Firefox */

  scrollbar-width: thin;
  scrollbar-color: $primary-color black;


  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: black;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 0px;
    border: 0px none;
  }

  .cta {
    width: 20%;
    display: flex;
    align-items: center;

    @include media("<=tablet") {
      width: 100%;
    }

    .ctaBtn {
      overflow: hidden;
      position: relative;
      width: fit-content;
      padding: 8px 1.5rem;
      border-radius: 9rem;
      border: 2px solid $primary-color;
      color: $primary-color;
      background-color: $bg-color;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      >span {
        z-index: 9;
      }

      .shine {
        position: absolute;
        opacity: 0.3;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $primary-color;
        background: radial-gradient(circle, rgba(0, 255, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
      }

      .bg {
        position: absolute;
        z-index: 2;
        backdrop-filter: blur(10px);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(41, 41, 41, 0.5) 20%, $bg-color 80%);
      }

    }
  }

  .header {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .headerBg {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;

      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
      }

      >img {
        width: 100%;
        height: 100%;
        // image-rendering: optimizeSpeed;
        object-fit: cover;
      }
    }

    .nav {
      width: 55%;
      height: 10vh;
      padding: 1rem;
      border-radius: 999px;
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.32);
      z-index: 999;
      position: fixed;
      top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include media("<=desktop") {
        width: 70%;
      }

      @include media("<=1027px") {
        width: 80%;
      }





      .cta {

        @include media("<=tablet") {
          width: 100%;
          margin-left: 3rem;
        }

        @include media("<=phone") {
          width: 100%;
          margin-left: 1rem;

          .ctaBtn {
            font-size: 2.5vw;

          }
        }

        @include media("<=360px") {
          width: 100%;
          margin-left: 0rem;

          .ctaBtn {
            font-size: 2.5vw;

          }
        }

        @include media("<=877px") {
          .ctaBtn {
            font-size: 0.8rem;

          }
        }
      }

      @include media("<=tablet") {
        width: max-content;
      }

      @include media("<=phone") {
        width: 80%;
        height: max-content;
        padding: 5px 8px;
      }

      @include media("<=300px") {
        width: 90%;
        height: max-content;
        padding: 5px 8px;
      }




      .left {
        padding: 8px;
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media("<=phone") {
          width: 70%;
        }

        .logo {
          width: 150px;
          height: auto;
          cursor: pointer;

          @include media("<=phone") {
            width: 30vw;
          }

          @include media("<=desktop") {
            width: 130px;
          }

          @include media("<=877px") {
            width: 100px;
          }

        }

        .links {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around;

          @include media("<=tablet") {
            display: none;
          }

          @include media("<=desktop") {
            font-size: 1rem;
          }

          @include media("<=877px") {
            font-size: 0.8rem;
          }

          >div {
            cursor: pointer;
          }

          .active {
            color: $primary-color;
            transition: all ease 250ms;
          }

          >a {
            color: rgba(255, 255, 255, 0.5);

            &:hover,
            &:focus,
            &:active {
              color: $primary-color;
            }
          }

        }

      }

      .cta {

        justify-content: flex-end;
      }


    }

    .hero {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      padding: 5%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      @include media("<=887px") {
        padding: 5% 5%;
      }

      @include media("<=phone") {
        align-items: center;
        justify-content: flex-start;
      }

      .heroTxt {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .logo {
          width: 120px;
          height: auto;

          @include media("<=phone") {
            width: 25vw;
          }
        }

        .txts {
          >h1 {
            font-family: $main-font;
            font-size: 5rem;
            font-weight: 200;
            line-height: 1;

            @include media("<=tablet") {
              text-wrap: balance;
            }

            @include media("<=phone") {
              font-size: 15vw;
            }
          }

          >p {
            font-size: 1.5rem;

            @include media("<=tablet") {
              text-wrap: balance;
            }

            @include media("<=phone") {
              font-size: 5vw;
            }
          }
        }

        .cta {
          margin-top: 1rem;


          @include media("<=tablet") {
            margin-top: 0.9rem;

          }
        }
      }

      .cta {
        @include media("<=phone") {
          .ctaBtn {
            font-size: 3vw;
          }
        }
      }
    }

  }

  .about {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;

    @include media("<=phone") {
      height: max-content;

    }

    ::-webkit-scrollbar {
      display: none;
    }

    .indicatorContainer {
      position: absolute;
      left: 3%;
      // align-self: center;
      z-index: 99;
      width: 2rem;
      height: 5rem;
      display: flex;
      gap: 1rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .indicator {
        width: fit-content;
        transition: all 250ms ease;

        .outer {
          width: 1.5rem;
          aspect-ratio: 1;
          border-radius: 50%;
          opacity: 0.6;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgb(47, 47, 47);

          @include media("<=tablet") {
            width: 1rem;

          }

          .inner {
            width: 80%;
            border-radius: 50%;
            aspect-ratio: 1;
            background-color: rgb(121, 120, 120);
          }
        }
      }

      .activeInd {
        width: fit-content;
        transition: all 250ms ease;

        .outer {
          width: 1.5rem;
          aspect-ratio: 1;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgb(1, 96, 1);

          @include media("<=tablet") {
            width: 1rem;

          }

          .inner {
            width: 80%;
            border-radius: 50%;
            aspect-ratio: 1;
            background-color: $primary-color;
          }
        }
      }
    }

    .slider {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;


      .bg {
        position: absolute;
        width: 100%;
        height: 100vh;
        display: flex;
        z-index: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: green;

        @include media("<=phone") {
          height: 120vh;

        }

        .overlay {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background: rgb(0, 0, 0);
          background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 48%, rgba(0, 0, 0, 1) 100%);
        }

        >img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .content {
        position: absolute;
        overflow: hidden;
        z-index: 9;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        @include media("<=tablet") {
          flex-direction: column;
          align-items: center;
          justify-content: center;

        }

        @include media("<=887px") {
          flex-direction: column;
          align-items: center;
          justify-content: center;

        }

        .left {
          position: relative;
          padding: 5%;
          width: 50%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          @include media("<=887px") {
            width: 100%;
            height: 40%;
            justify-content: flex-end;
            align-items: flex-end;
            padding: 0 10%;

          }

          >img {
            opacity: 0.7;
            width: 100%;
            height: 100%;
            object-fit: contain;
            animation: uparNiche ease-in-out 5s infinite alternate;

            @include media("<=887px") {
              height: 100%;
              width: auto;
            }

            @include media("<=550px") {
              height: 80%;
              width: auto;
            }


            @keyframes uparNiche {
              0% {
                transform: translateY(-5%);
              }

              50% {
                transform: translateY(0%);
              }

              100% {
                transform: translateY(-5%);
              }
            }
          }

          .txts {
            position: absolute;
            z-index: 10;
            left: 15%;
            font-size: 4rem;
            font-weight: 100;
            line-height: 1;
            font-family: $main-font;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            @include media("<=887px") {
              font-size: 5rem;
              left: 10%;
              height: max-content;
              bottom: 0;
            }

            @include media("<=phone") {
              font-size: 10vw;
              line-height: 1;

              align-items: flex-start;
              justify-content: flex-start;
              bottom: 20%;
            }

            @include media("<=550px") {
              font-size: 14vw;
              line-height: 1;
            }


          }
        }

        .right {
          width: 50%;
          height: 100%;
          display: flex;
          padding-right: 10%;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;

          @include media("<=887px") {
            width: 100%;
            height: max-content;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 0 10%;

          }

          >p {
            font-size: 1.2rem;
            text-wrap: balance;

            @include media("<=phone") {
              font-size: 4vw;
            }

            @include media("<=550px") {
              font-size: 1rem;
            }

            @media screen and (max-height: 595px) {
              line-height: 1.1;
            }
          }

          >h1 {
            font-size: 2.8rem;
            font-weight: 100;
            font-family: $main-font;

            @include media("<=phone") {
              font-size: 8vw;
              line-height: 1;
            }

            @include media("<=750px") {
              font-size: 8vw;
              line-height: 1;
            }

            @media screen and (max-height: 595px) {
              padding-bottom: 1rem;
            }
          }

          .graph {
            width: 70%;
            height: auto;
            align-self: center;

            @include media("<=887px") {
              display: none;
            }

            >img {
              width: 100%;
              height: auto;
              object-fit: contain;
            }
          }

          .quote {
            font-size: 1.7rem;
            color: $primary-color;
            font-style: italic;

            @include media("<=phone") {
              font-size: 6vw;
            }

            @include media("<=550px") {
              font-size: 1.2rem;
            }

            @media screen and (max-height: 595px) {
              padding-top: 1rem;
            }
          }
        }
      }

    }
  }

  .ourTeam {
    position: relative;
    width: 100%;
    height: fit-content;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    .bg {

      width: 100%;
      height: fit-content;
      display: flex;
      z-index: 1;
      flex-direction: column;
      justify-content: center;
      background-color: green;

      @include media("<=tablet") {
        height: 100%;
        position: absolute;
      }

      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(146, 105, 105, 0);
        z-index: 2;
        // background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 48%, rgba(0, 0, 0, 1) 100%);
      }

      >img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: top;

        @include media("<=tablet") {
          height: 100%;
          width: auto;
          object-fit: cover;
          object-position: center;
        }

      }
    }

    .content {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .crsl {
        width: 100%;
        height: 40%;
        overflow-x: scroll;
        overflow-y: hidden;
        display: flex;
        align-self: center;
        justify-self: center;
        cursor: grab;


        @include media("<=phone") {
          height: fit-content;
        }

        @include media("<=tablet") {
          height: 60%;
        }

        @include media("<=1200px") {
          height: 60%;
        }


        &::-webkit-scrollbar {
          display: none;
        }

        .wrapper {
          width: fit-content;
          height: 100%;
          display: flex;
          padding: 3rem;
          align-items: center;
          justify-content: space-evenly;
          gap: 1rem;

          @include media("<=phone") {
            height: fit-content;
            padding: 0 3rem;
          }



          .card {
            position: relative;
            height: 100%;
            aspect-ratio: 250/350;
            border-radius: 0.5rem;
            background-image: url("/Images/winners.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top;
            backdrop-filter: blur(3px);
            border: 2px solid rgba(0, 255, 0, 0.2);
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

            @include media("<=phone") {
              height: 250px;

            }

            &::before {
              content: "";
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              z-index: -1;
              background: rgb(0, 0, 0);
              background: linear-gradient(180deg, rgba(0, 255, 0, 0.1) 0%, rgba(0, 255, 0, 0.2) 100%);
            }

            .contents {
              pointer-events: none;
              user-select: none;
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
              gap: 1rem;

              .img {
                width: 100%;
                height: fit-content;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 42%;

                .txtImg {
                  width: 50%;
                  height: auto;
                }

                .logoImg {
                  width: 40%;
                  height: auto;
                }


              }

              .cardtxt {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                height: max-content;

                >h1 {
                  color: $primary-color;
                }

                >p {
                  text-align: center;
                  text-wrap: balance;
                  font-size: 1.2rem;
                  line-height: 1;

                  @include media("<=phone") {
                    font-size: 4vw;

                  }

                  @include media("<=990px") {
                    font-size: 1rem;

                  }
                }
              }

              .ctabtn {
                overflow: hidden;
                width: 90%;
                margin-bottom: 5%;
                display: flex;
                border-radius: 0.5rem;
                align-items: center;
                justify-self: flex-end;
                justify-content: center;
                height: max-content;
                padding: 0.5rem;
                background-color: rgba(128, 128, 128, 0.492);
                backdrop-filter: blur(2px);

                >p {
                  font-size: 1.2rem;
                  line-height: 1;
                  text-decoration: underline;

                  @include media("<=phone") {
                    font-size: 5vw;

                  }

                }
              }
            }
          }
        }
      }

      .txts {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.082);

        >h1 {
          font-family: $main-font;
          font-size: 3rem;
          line-height: 100%;

          @include media("<=phone") {
            font-size: 12vw;

          }
        }

        >p {
          font-size: 1.5rem;

          @include media("<=phone") {
            font-size: 5vw;

          }

          >span {
            color: $primary-color;
          }
        }

      }
    }
  }

  .bfs {
    width: 100%;
    height: 100vh;
    border: none;

    .container {
      position: relative;
      width: 100%;
      height: 100%;

      .foregroundBfs {
        position: absolute;
        top: 5rem;
        left: 5rem;
        width: max-content;
        height: max-content;
        z-index: 30;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;


        @include media("<=phone") {
          top: 7%;

        }

        @include media("<=tablet") {
          left: 10%;
        }

        >h1 {
          font-family: $main-font;
          font-weight: 100;
          font-size: 3rem;

          @include media("<=phone") {
            font-size: 10vw;

          }

          @include media("<=480px") {
            font-size: 2.5rem;

          }
        }

        >h3 {
          font-family: $main-font;
          font-weight: 100;
          font-size: 2rem;

          @include media("<=phone") {
            font-size: 8vw;

          }
        }

        >p {
          font-size: 1.2rem;

          @include media("<=phone") {
            font-size: 4vw;

          }

          >span {
            color: $primary-color;
          }
        }
      }

      .bfsbg {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: $bg-color;

        .overlay {
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 5;
          height: 100%;
          background: rgb(0, 0, 0);
          background: linear-gradient(180deg, rgba(0, 39, 1, 0.482) 0%, rgba(255, 255, 255, 0) 48%, rgba(0, 39, 1, 0.482) 100%);
        }

        .card {
          width: 33.333%;
          height: 100%;
          position: relative;

          >img {
            opacity: 0.32;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;

          }

          .txt {
            position: absolute;
            z-index: 9;
            width: 100%;
            height: max-content;
            left: 3rem;
            bottom: 3rem;
            line-height: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
            justify-content: center;

            @include media("<=tablet") {
              left: 5%;
              bottom: 20%;
              width: 90%;
            }

            >h1 {
              width: max-content;
              font-size: 3rem;
              color: $primary-color;
              // background-color: rgba(255, 255, 255, 0.1);
              backdrop-filter: blur(2px);

              @include media("<=tablet") {
                font-size: 2rem;
              }

              @include media("<=phone") {
                font-size: 6vw;

              }

            }

            >p {
              font-size: 2rem;
              width: max-content;
              // background-color: rgba(255, 255, 255, 0.1);
              backdrop-filter: blur(2px);

              @include media("<=tablet") {
                font-size: 1rem;
                text-wrap: balance;
                width: 100%;
              }

              @include media("<=1200px") {
                font-size: 1.5rem;
                text-wrap: balance;
              }

              @include media("<=920px") {
                font-size: 1.3rem;
              }

              @include media("<=phone") {
                font-size: 4vw;

              }
            }

            >button {

              font-family: $teamdao-font;
              font-size: 1.3rem;
              letter-spacing: 1px;
              width: fit-content;
              background-color: rgba(255, 255, 255, 0.1);
              backdrop-filter: blur(2px);
              border-radius: 5px;
              padding: 2% 5%;
              border: none;
              font-weight: bold;

              @include media("<=tablet") {
                font-size: 1rem;
                padding: 2% 10%;

              }

              @include media("<=phone") {
                font-size: 3vw;

              }

              &:hover {
                cursor: pointer;
                background-color: rgba(255, 255, 255, 0.218);
              }
            }
          }
        }
      }
    }
  }

  .teamup {
    width: 100%;
    height: 100vh;
    border: none;
    overflow: hidden;

    @include media("<=tablet") {
      height: 70vh;
    }

    .tcontainer {
      width: 100%;
      height: 100%;
      position: relative;

      .bg {
        position: absolute;
        width: 100%;
        height: 100%;

        >img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }

        .foreground {
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 4;

          @include media("<=tablet") {
            height: auto;
            width: 100%;
            bottom: 0;
          }
        }

        .bgImg {
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 2;

          @include media("<=tablet") {
            height: auto;
            width: 100%;
            bottom: 0;
          }
        }
      }

      .tcontent {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 1.5rem;
        margin-top: 5%;
        z-index: 20;

        @include media("<=tablet") {
          top: 20%;
        }


        >h1 {
          font-family: $main-font;
          font-weight: 100;
          font-size: 4rem;
          line-height: 1;

          @include media("<=tablet") {
            font-size: 15vw;

          }

        }

        >p {
          font-size: 1.3rem;
          text-align: center;
          text-wrap: balance;
          margin-left: 1rem;

          @include media("<=phone") {
            font-size: 4vw;

          }
        }

        .cta {
          width: auto;
          margin-top: 1.5rem;

          @include media("<=phone") {
            font-size: 5vw;

          }
        }
      }
    }



  }

  .footer {
    width: 100%;
    height: 25vh;



    @include media("<=tablet") {
      height: max-content;
      padding: 5%;

      .cta {
        display: none;
      }
    }

    .fcontainer {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include media("<=tablet") {
        flex-direction: column;
      }

      @include media("<=phone") {
        padding-bottom: 5%;
      }


      .left {
        width: 80%;
        height: 100%;
        padding-left: 5%;
        padding-right: 10%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include media("<=phone") {
          flex-direction: column;
        }

        @include media("<=tablet") {
          width: 100%;
          padding: 0;
        }



        .logoContainer {
          width: 50%;


          @include media("<=tablet") {
            width: max-content;
          }

          @include media("<=phone") {
            width: 100%;
            padding-bottom: 1rem;
          }


          >p {
            opacity: 0.6;
            font-size: 1rem;

            @include media("<=tablet") {
              font-size: 0.7rem;
            }

            @include media("<=phone") {
              text-align: center;
            }
          }
        }

        .links {
          padding-top: 5%;
          width: 80%;
          height: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: space-evenly;

          @include media("<=tablet") {
            flex-direction: column;
            align-items: flex-end;
            padding: 0;
            font-size: 2.5vw;
            gap: 1vw;
          }

          @include media("<=phone") {
            flex-direction: row;
          }

          @include media("<=phone") {
            font-size: 0.7rem;
            width: 100%;
            justify-content: space-between;
          }

          @include media("<=297px") {
            font-size: 0.5rem;

          }

          >a {
            color: grey;

            &:hover {
              color: $primary-color;
            }
          }
        }


      }

      .right {
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .cta {
          width: 100%;

          @include media("<=tablet") {
            flex-direction: column;
            align-items: flex-end;
            padding: 0;
          }
        }
      }
    }
  }

}